.container-v1 {
	width: fit-content;
	height: 100%;
	margin: auto;
	position: relative;
	/* background-color: #ccc9c9; */
}
body {
	background-color: #eeeeee;
}

.box {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	padding: 20px;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
	font-family: inherit;
	color: #212529;
	margin: 3rem 0;
}
