
.lang-sel {
	padding: 3px;
	width: fit-content;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.la-globe {
	margin-right: 5px;
	color: red;
}

.select {
	background-color: transparent;
	width: 100%;
	min-width: 10ch;
	color: white;
	max-width: 30ch;
	border: none;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 2.1;
}

option {
	color: #777;
	min-height: 10ch !important;
	margin-top: 1.5rem !important;
	font-size: 1.2rem !important;
	line-height: 5.5 !important;
}

option:checked {
	color: #000;
}

.nice-select{
	background: transparent !important;
    width: auto !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: black !important;
    height: 49px !important;
    padding: 10px 15px !important;
    line-height: 27px !important;
}
.nice-select:hover, .nice-select.open, .nice-select:focus{
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.nice-select>span {
    color: #fff !important;
    font-weight: 400 !important;
    line-height: 30px !important;
}
.nice-select:after {
    border-bottom: 2px solid #fff !important;
    border-right: 2px solid #fff !important;
    width: 7px !important;
    height: 7px !important;
    right: 2px !important;
    top: 52% !important;
}
.nice-select .option.focus, .nice-select .option.selected.focus {
    color: #112A56 !important;
}
.lang_selctor .nice-select .option {
    padding-left: 13px !important;
    padding-right: 10px !important;
}

.logoImg{
	content: url('../../assets/img/logo.png');
}