* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	scroll-behavior: smooth;
}
@media only screen and (min-width: 1200px){
.container {
    max-width: 1320px !important;
}
}
a{
	text-decoration: none !important;
}
.header-btn .btn{
	line-height: 42px !important;
}