* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	scroll-behavior: smooth;
}
@media only screen and (min-width: 1200px){
.container {
    max-width: 1320px !important;
}
}
a{
	text-decoration: none !important;
}

.btn{
	padding:10px 25px !important;
}

.owl-prev span{
	margin-top: -0.6rem;
}
.owl-next span{
	margin-top: -0.6rem;
}
/* .wt-title{
	font-size:4rem !important;
	letter-spacing: 7px;
	font-weight: 700;
	font-family: "Teko", sans-serif;
} */