.instagram-1{
    content: url(../../assets/img/instagram/instagram-1.jpg);
}
.instagram-2{
    content: url(../../assets/img/instagram/instagram-2.jpg);
}
.instagram-3{
    content: url(../../assets/img/instagram/instagram-3.jpg);
}
.instagram-4{
    content: url(../../assets/img/instagram/instagram-4.jpg);
}
.instagram-5{
    content: url(../../assets/img/instagram/instagram-5.jpg);
}
.instagram-6{
    content: url(../../assets/img/instagram/instagram-6.jpg);
}