.layout-default.page
{
    padding-top:60px !important;
}
.fa-salesforce:before {
    content: "\F83B";
}
.dropdown-item.nav{
    padding: 0.25rem 1.25rem !important;
}
.qrcode{
    display:flex;
    justify-content: center;
}
.form-control.custom-toggle{
    display:flex;
    .custom-text{
        flex-grow: 8;
    }
}
.dropdown-menu.show{
    width:100%;
    input{
        width:92% !important;
    }
}

.qrcode-panel{
    flex-grow: 8;
    display: flex;
    align-items: center;
}