.owl-next,
.owl-prev {
	font-size: 3rem !important;
	color: white !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.owl-next span,
.owl-prev span{
	margin-top: -0.5rem;
	font-size:40px;
}

.hero-slider-v1 .owl-prev, 
.hero-slider-v1 .owl-next, 
.product-slider-v1 .owl-prev,
.product-slider-v1 .owl-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: #E31C25 !important;
}
.hero-slider-v1 .owl-prev, 
.hero-slider-v3 .owl-prev, 
.hero-slider-v1 .owl-next, 
.hero-slider-v3 .owl-next {
    position: absolute;
    bottom: 5%;
    transform: translateY(-60%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9;
}
.hero-slider-v1 .owl-next i {
	color: #fff;
}
  
.hero-slider-v1 .owl-prev,
.hero-slider-v3 .owl-prev {
	left: 50px;
}

.hero-slider-v1 .owl-next,
.hero-slider-v3 .owl-next {
	right: 50px;
}

.hero-slider-v1 .owl-prev i,
.hero-slider-v1 .owl-next i,
.hero-slider-v3 .owl-prev i,
.hero-slider-v3 .owl-next i {
	font-size: 16px;
	line-height: 32px;
}

.hero-slider-v1 .owl-prev i,
.hero-slider-v1 .owl-next i {
	font-size: 16px;
	line-height: 46px;
}	


.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-carousel .owl-dot, 
.owl-carousel .owl-nav .owl-next, 
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media only screen and (max-width: 991px){
	.hero-slider-v1 .owl-prev, 
	.hero-slider-v1 .owl-next, 
	.product-slider-v1 .owl-prev, 
	.product-slider-v1 .owl-next {
		width: 38px;
		height: 38px;
	}
}
@media only screen and (max-width: 767px){
	.hero-slider-v1 .owl-next, 
	.hero-slider-v3 .owl-next, 
	.hero-slider-v1 .owl-prev, 
	.hero-slider-v3 .owl-prev {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: relative;
		width: 40px;
		height: 40px;
		margin: 0 15px;
	}
	.hero-slider-v1 .owl-nav, 
	.hero-slider-v3 .owl-nav {
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		bottom: 30px;
		display: flex;
		justify-content: center;
	}
}

.hero-slider-item{
	padding: 200px 0 20px !important;
}
.hero-content h1{
    font-size: 80px !important;
    line-height: 80px !important;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px !important;
}

@media only screen and (max-width: 767px){
	.hero-content h1{
		font-size: 40px !important;
		line-height: 60px !important;
	}
	.hero-slider-item {
		padding: 100px 0 60px !important;
	}
	.owl-nav{
		left:unset !important;
		transform: unset !important;
		width: 100%;
		/* justify-content: space-between !important; */
		bottom: 20px !important;
	}
	.owl-nav button{
		width: 30px !important;
		height: 30px !important;
	}
	.owl-nav span{
		font-size: 30px;
	}

}